adblockparser==0.7
aiohttp==0.14.2
alembic==0.9.1
apiclient==1.0.2
appnope==0.1.0
asn1crypto==0.22.0
asyncio==3.4.2
attrs==16.3.0
audiogrep==0.1.2
autocorrect==0.3.0
Automat==0.5.0
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.3.2
bleach==1.4.2
blinker==1.3
boto==2.38.0
Brownie==0.5.1
certifi==2016.2.28
cffi==1.9.1
chardet==2.3.0
cleverbot==0.1.3
click==6.7
constantly==15.1.0
cryptography==1.8.1
cssselect==0.9.1
cssutils==1.0
Cython==0.22.1
dataset==0.8.0
decorator==4.0.2
Django==1.8.6
django-contrib-comments==1.6.1
docopt==0.6.2
ecdsa==0.13
enum34==1.1.6
et-xmlfile==1.0.1
facebook-sdk==0.4.0
fake-useragent==0.1.5
filebrowser-safe==0.4.0
Flask==0.12.2
Flask-Login==0.2.11
Flask-Mail==0.9.1
Flask-OpenID==1.2.4
Flask-Uploads==0.1.3
Flask-WTF==0.12
functools32==3.2.3.post2
future==0.15.2
GDAL==1.11.3
gevent==1.2.1
gnureadline==6.3.3
google-api-python-client==1.4.1
grappelli-safe==0.4.1
greenlet==0.4.12
gunicorn==19.7.1
hsaudiotag==1.1.1
html5lib==0.9999999
httplib2==0.9
httpretty==0.8.3
idna==2.5
image==1.3.4
imageio==1.3
images2gif==1.0.1
incremental==16.10.1
ipaddress==1.0.18
ipykernel==4.3.1
ipython==4.1.2
ipython-genutils==0.1.0
ipywidgets==4.1.1
itsdangerous==0.24
jdcal==1.3
Jinja2==2.7.3
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.2.2
jupyter-console==4.1.1
jupyter-core==4.1.0
Keras==1.2.2
libusb1==1.5.3
lxml==3.4.1
Mako==1.0.6
Markdown==2.4.1
MarkupSafe==0.23
mechanize==0.2.5
Mezzanine==4.0.1
mistune==0.7.2
mock==2.0.0
moviepy==0.2.2.11
msgpack-python==0.4.8
nbconvert==4.1.0
nbformat==4.0.1
netaddr==0.7.19
netifaces==0.10.5
nfcpy==0.11.1
normality==0.4.0
notebook==4.1.0
numpy==1.12.0
oauth2==1.5.211
oauth2client==1.4.12
oauthlib==1.0.3
openpyxl==2.4.5
packaging==16.8
pandas===0.16.2-113-gbbec57d
paramiko==1.15.2
parsel==1.1.0
path.py==8.1.2
Pattern==2.6
pdfkit==0.6.1
pdfminer==20140328
pexpect==4.0.1
pickleshare==0.6
Pillow==2.9.0
protobuf==3.2.0
PsychoPy==1.80.7
ptyprocess==0.5.1
pyasn1==0.1.8
pyasn1-modules==0.0.6
pycparser==2.17
pycrypto==2.6.1
PyDispatcher==2.0.5
pydub==0.15.0
pyglet==1.1.4
Pygments==2.1.3
PyInstaller==3.2.1
pymongo==2.7.1
PyMySQL==0.6.3
PyOpenGL==3.1.0
pyOpenSSL==16.2.0
pyparsing==2.2.0
pyPdf==1.13
PyPDF2==1.26.0
pyserial==3.1.1
pytesseract==0.1.6
python-dateutil==2.4.2
python-editor==1.0.3
python-gcm==0.2
python-instagram==1.3.1
python-openid==2.2.5
PyTumblr==0.0.6
pytz==2015.4
PyYAML==3.12
pyzmq==15.2.0
qtconsole==4.2.0
queuelib==1.4.2
re2==0.2.23
requests==2.8.1
requests-oauthlib==0.5.0
rsa==3.1.4
scipy==0.15.1
scraperwiki==0.5.1
Scrapy==1.3.2
scrapy-fake-useragent==1.0.2
scrapy-random-useragent==0.2
scrapy-splash==0.7.1
selenium==2.44.0
service-identity==16.0.0
simplegeneric==0.8.1
simplejson==3.6.0
singledispatch==3.4.0.3
six==1.7.3
snapchat==0.3
SpoofMAC==2.1.1
SQLAlchemy==0.9.8
tensorflow-gpu==1.0.0
terminado==0.6
Theano==0.8.2
tornado==4.3
tqdm==1.0
traitlets==4.2.1
twilio==3.6.6
Twisted==17.1.0
twitter==1.15.0
tzlocal==1.2
unicodecsv==0.14.1
uritemplate==0.6
urllib3==1.7.1
vboxapi==1.0
videogrep==0.4.4
visvis==1.9.2
w3lib==1.17.0
webassets==0.10.1
Werkzeug==0.9.6
wireless==0.3.2
WTForms==2.0.2
xlrd==0.9.3
XlsxWriter==0.6.7
xlutils==2.0.0
xlwt==0.7.5
yappi==0.94
yuicompressor==2.4.8
zerorpc==0.6.0
zope.interface==4.3.3
